
:root{
    color-scheme: light dark;
}

html body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-size: 12pt;
    font-family: -apple-system, system-ui, verdana, sans-serif;
    margin: auto;
    overflow-x: hidden;
}

header {
    text-align: center;
}

header h1 {
    display: block;
    font-size: 12em;
    margin-top: 10px;
    margin-bottom: 0px;
}

header h1 a {
    text-decoration: none;
}
.subtitle {
    width: 70%;
    margin: 0 auto;
    font-size: 1.5em;
}

.socials {
    font-size: 7.5rem;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.socials li {
    margin: 0 2rem;
    height: 100%;
}

.socials li p {
    font-size: 2rem;
    margin-top: 0;
}

nav {
    border-bottom: 8px solid hsl(213, 32.1%, 85.3% );
    border-top: 8px solid hsl(213, 32.1%, 85.3% );
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav a {
    font-size: 2.5rem;
    text-decoration: none;
    display: inline-block;
}

.profile-img {
    text-align: center;
}

article {
    text-align: center;
}

.profile-img {
    padding: 30px;
}

.profile-img img {
    border-radius: 50%;
    border: 5px solid;
    width: 80%;
}

main {
    width: 90%;
    margin: auto;
}

h2 {
    font-size: 3rem;
    font-weight:lighter;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
}

.experience p {
    font-size: 1rem;
}

.portfolio-item {
    max-width: 80%;
    margin: auto;
    border-bottom: 5px solid;
    padding-bottom: 50px;
}

.portfolio-img {
    text-align: center;
}

.portfolio-img img{
    border-radius: 50%;
    border: 5px solid;
    width: 80%
}

.github-link {
    margin-bottom: 100px;
}

footer {
    max-width: 80%;
    padding-top: 1rem;
}

footer p {
    font-size: 0.8rem;
    margin-left: 4rem;
}

.post-list {
    max-width: 90%;
    margin: auto;
    font-size: 1rem;
}

.post-list ul {
    padding: 0;
}
.post-list ul li {
    list-style: none;
}

.post-list ul li h2 {
    text-align: center;
}

.post-list ul li h2 a {
   text-decoration: none;
   color: black;
}

.pager {
    max-width: 90%;
    margin: auto;
    padding: 0;
}
.next {
    padding-top: 1rem;
    text-decoration: none;
    list-style: none;
}

.next a {
    text-decoration: none;
}

.previous {
    text-decoration: none;
    list-style: none;
}

.previous a {
    text-decoration: none;
}

@media( prefers-color-scheme: dark ) {
    nav a {
        color: hsl(213, 64.3%, 72.0%);
    }

    .fa-github {
        color: #e8eaea;
    }
    .fa-linkedin {
        color: #0072b1;
    }

    .fa-mastodon {
        color: #6364ff;
    }

    .subtitle {
        color: #888;
        width: 80%;
        margin: 0 auto;
        font-size: 2rem;
    }

    .socials li p {
        color: #888
    }

    h2 {
        color: hsl(213, 64.3%, 72.0%);
    }

    .experience a {
        color: #888;
    }

    footer {
        color: #888;
    }

    .post-list ul li h2 a {
        color: hsl(213, 64.3%, 72.0%);
     }

}

@media screen and (min-width: 750px) {
    .experience p {
        font-size: 2rem;
    }

    .post-list {
        font-size: 2rem;
    }

    .portfolio-item p {
        font-size: 2rem;
    }

    article {
        font-size: 2rem;
    }
}
