<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../../index.css"/>
    <script src="https://kit.fontawesome.com/d3ee17a1f4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1><a href="/">Rick Kay</a></h1>
        <div class="subtitle">
            <p>My name is Rick, and I am a software engineer based in Manchester, UK.
                Please feel free to get in touch via any of the channels below. 
            </p>
        </div>
        <div class="socials">
            <ul class="nav-list"> 
                <li>
                <a href="https://github.com/berbakay" class="icon-link">
                        <i class="fa-brands fa-github"></i>
                </a>
                <p>Github</p>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/richardakay/">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <p>linkedIn</p>
                </li>
                <li>
                    <a href="https://mstdn.social/@berbakay">
                        <i class="fa-brands fa-mastodon"></i>
                    </a>
                    <p>Mastodon</p>
                </li>
            </ul>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/experience.html">Experience</a>
            <a href="/projects.html">Projects</a>
            <a href="/about.html">About</a>
            </a>
        </nav>
    </header>
    <div class="post-list">
        <ul>
        {% for post in paginator.posts %}
          <li>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            {{ post.content }}
          </li>
        {% endfor %}
        </ul>
    </div>
    {% if paginator.total_pages > 1 %}
     <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
      </li>
      {% endif %}
     </ul>
   {% endif %}
    <footer>
        <p>© Rick Kay 2023</p>
    </footer>
</body>
</html>